<div class="chatbot-answers">
        <button type="button" class="chatbot-answers-link chatbot-answers-link--js"  data-dialogflow-action="{{isDialogFlowAction}}"  >
            {{dialogFlowAnswer}}
        </button>
    </div>   